{% extends 'base.html' %}

{% block content%}
{% if query %}
    <h1 class="title">Results</h1>
    {% for profile in result %}
     <div class="block">
      <div class="card">
        <a href="{% url 'profile' profile.id %}">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png"
                       alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">
                  {{ profile.user.username }}
                </p>
                <p class="subtitle is-6">
                  @{{ profile.user.username|lower }}
                </p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor%}
  {% else %}
  <h1>
    No matching results found
  </h1>
{% endif %}
{% endblock content %}